# BackstopJS
*html_report/
*bitmaps_test/

compare/bower_components/**/.*
examples/**/html_report/
**/backstop_data/bitmaps_test/
**/backstop_data/html_report/
**/backstop_data/json_report/
**/backstop_data/reports/
compare/config.js
capture/config.json
compare/output/bitmaps_reference/
compare/output/bitmaps_test/
compare/output/config\.js


# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# VS Code
.vscode

# Packages
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

# Logs and databases
.tmp
*.log
*.sql
*.sqlite
*.sqlite3
data.db

# Misc.
*.env
.envrc
*#
ssl
.idea
*.pem
nbproject
public/uploads/*
!public/uploads/.gitkeep
build_time.lock

# Node.js
lib-cov
lcov.info
pids
logs
results
node_modules
.node_history
/.pnp
.pnp.js

# Tests
testApp
coverage

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Netlify cache
.netlify

